<!doctype html>
<html>
  <head>
    <title>Edit transport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <navMenu>
    <a href="/" class="lg"><img src="/Images/onestep.png" width="150" height="120" alt=""></a>
    <!-- <a href="#" class="logo"></a> -->
    <input type="checkbox" id="mba">
    <label for="mba">Menu Bar</label>

    <nav class="navigation">
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="#">Wedding </a>
          <ul>
            <li><a href="#">Transport </a>
              <ul>
                <li><a href="transport">List</a></li>
                <li><a href="addTransport">Add</a></li>
                <li><a href="editTransport">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Photographer </a>
              <ul>
                <li><a href="photographer">List</a></li>
                <li><a href="addPhotographer">Add</a></li>
                <li><a href="editPhotographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Videographer </a>
              <ul>
                <li><a href="videographer">List</a></li>
                <li><a href="addVideographer">Add</a></li>
                <li><a href="editVideographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Venue </a>
              <ul>
                <li><a href="venue">List</a></li>
                <li><a href="addVenue">Add</a></li>
                <li><a href="editVenue">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Cake </a>
              <ul>
                <li><a href="cake">List</a></li>
                <li><a href="addCake">Add</a></li>
                <li><a href="editCake">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Florist </a>
              <ul>
                <li><a href="florist">List</a></li>
                <li><a href="addFlorist">Add</a></li>
                <li><a href="editFlorist">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Religious Location </a>
              <ul>
                <li><a href="religious">List</a></li>
                <li><a href="addReligious">Add</a></li>
                <li><a href="editReligious">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Wedding function </a>
              <ul>
                <li><a href="wFunction">List</a></li>
                <li><a href="addwFunction">Add</a></li>
                <li><a href="editwFunction">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Itinerary</a>
              <ul>
                <li><a href="itinerary">List</a></li>
                <li><a href="addItinerary">Add</a></li>
                <li><a href="editItinerary">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Budget</a>
              <ul>
                <li><a href="budget">List</a></li>
                <li><a href="addBudget">Add</a></li>
                <li><a href="editBudget">Edit</a></li>
              </ul>
              </li>
          </ul>
        </li>
        <li><a href="#">Account</a>
          <ul>
            <li><a href="myAccount">My Account</a></li>
            <li><a href="editAcc">Edit Account</a></li>
            <li><a href="updateSpouse">Update Spouse</a></li>
            <li><a href="updateWeddPlanner">Update Wedding Planner</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
        </li>
        <li><a href="#">Login</a>
          <ul>
            <li><a href="login">Spouse Login</a></li>
            <li><a href="wlogin">Planner Login</a></li>
            <li><a href="Guest">Guest Login</a></li>
          </ul>
        </li>
        <li><a href="#">Wedding Planner</a>
          <ul>
            <li><a href="wRegister">Register</a></li>
            <li><a href="wLogin">Login</a></li>
            <li><a href="#">Photographer </a>
              <ul>
                <li><a href="sPhotographer">List</a></li>
                <li><a href="pAdding">Add</a></li>
                <li><a href="dPhotographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Videographer </a>
              <ul>
                <li><a href="sVideographer">List</a></li>
                <li><a href="vAdding">Add</a></li>
                <li><a href="dVideographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Venue </a>
              <ul>
                <li><a href="sVenue">List</a></li>
                <li><a href="veAdding">Add</a></li>
                <li><a href="dVenue">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Cake </a>
              <ul>
                <li><a href="sCake">List</a></li>
                <li><a href="cakeAdding">Add</a></li>
                <li><a href="dCake">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Florist </a>
              <ul>
                <li><a href="sFlorist">List</a></li>
                <li><a href="FloristAdding">Add</a></li>
                <li><a href="dFlorist">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Transport </a>
              <ul>
                <li><a href="sTransport">List</a></li>
                <li><a href="TransportAdding">Add</a></li>
                <li><a href="dTransport">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Religious Location </a>
              <ul>
                <li><a href="sReligious">List</a></li>
                <li><a href="ReligiousAdding">Add</a></li>
                <li><a href="dReligious">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Wedding function </a>
              <ul>
                <li><a href="sWFunction">List</a></li>
                <li><a href="WeddingFAdding">Add</a></li>
                <li><a href="dWeddingF">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Itinerary</a>
              <ul>
                <li><a href="sItinerary">List</a></li>
                <li><a href="iAdding">Add</a></li>
                <li><a href="dItinerary">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Budget</a>
              <ul>
                <li><a href="sBudget">List</a></li>
                <li><a href="BudgetAdding">Add</a></li>
                <li><a href="dBudget">Edit</a></li>
              </ul>
            </li>
          
          </ul>
        </li>
        <li>
          <form GET="POST" action="/logout">
            <button id="logout" name="logout" type="submit">logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </navMenu>
  <body>
    <h1><%=shopName%></h1>
    <h2>Here are the Transport you have added, Please edit the field and press update at the end of the table:</h2>
    <style>
      table, th, td {
        border:1px solid black;
      }
      input{
        width: 95%;
      }
    </style>
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>VehicleT</th> 
        <th>Name</th> 
        <th>CompanyN</th> 
        <th>CompanyA</th> 
        <th>DistanceR</th> 
        <th>Deposit</th> 
        <th>TotalP</th> 
        <th>ExtraInfo</th> 
      </tr>
      <% allfoods.forEach(function(food) { %>
        <tr>
          <form method="post" action="/uTransport">
            <th><input id="pid" type="text" name="pid" value="<%= food.ID %>" ></th>
            <th><input id="type" type="text" name="type" value="<%= food.VehicleT %>"></th>
            <th><input id="name" type="text" name="name" value="<%= food.Name %>"></th>
            <th><input id="compName" type="text" name="compName" value="<%= food.CompanyN %>"></th>
            <th><input id="compAddr" type="text" name="compAddr" value="<%= food.CompanyA %>"></th>
            <th><input id="distR8" type="text" name="distR8" value="<%= food.DistanceR %>"></th>
            <th><input id="dep" type="text" name="dep" value="<%= food.Deposit %>"></th>
            <th><input id="totP" type="text" name="totP" value="<%= food.TotalP %>"></th>
            <th><input id="ex" type="text" name="ex" value="<%= food.ExtraInfo %>"></th>
            <th><button type="submit" id="btn" value="Update">Update</button></th>
          </form> 
          <form method="post" action="/dTransport">
            <th><input id="fid" type="text" name="pid" readonly="readonly" value="<%= food.ID %>" ></th>
            <th><button type="submit" id="btnd" onclick="myFunction()" value="Delete">Delete</button></th>
            <script>
              function myFunction(){
                alert("Are you sure you want to delete this item?");
              }
            </script>
          </form>
          
         
        </tr>
      <% }) %>
    </table>
    </body>
</html>
